@import "flex";
@import "fonts";
@import "loader";
@import "overrides";
@import "spacing";
@import "variables";

// UTILITY SECTION

.border-radius {
  border-radius: 9px;
}

.height100 {
  height: 100%;
}

.width100 {
  width: 100%;
}

.overflow-scroll {
  overflow: scroll;
}

.white {
  color: var(--ion-color-primary-contrast) !important;
}

.yellow {
  color: var(--ion-color-warning) !important;
}

.red {
  color: red !important;
}

// END UTILITY SECTION

// OTHER SECTION

.cardNotes {
  color: var(--ion-color-warning);
  white-space: pre-wrap;
  font-size: 13px;
}

.loading-image {
  margin: 50% auto auto auto;
}

.no-classes-warning {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  ion-icon {
    font-size: 64px;
    margin-bottom: 16px;
  }
  > div {
    font-family: openSansBold;
  }
}

.profile-bubble {
  height: 80px;
  width: 80px;
  border-radius: 50px;
  background-color: var(--ion-color-primary);
  margin: auto;
  display: flex;
  > ion-icon {
    margin: auto;
    font-size: 40px;
  }
  &.archived {
    > ion-icon {
      color: var(--ion-color-warning);
    }
  }
}

.edit-icon {
  cursor: pointer;
  position: absolute;
  right: 12px;
}

.user-card-info {
  margin: auto 0 auto 16px;
}

.save-button {
  --background: var(--ion-color-primary-tint);
}

.time-bubble {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--ion-color-primary);
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    height: 78px;
    border-left: 2px solid var(--ion-color-primary);
    position: absolute;
    bottom: 100px;
    left: 48px;
    z-index: 0;
  }
  &:after {
    content: '';
    height: 78px;
    border-left: 2px solid var(--ion-color-primary);
    position: absolute;
    top: 100px;
    left: 48px;
    z-index: 0;
  }

  .timezone-indicator {
    font-size: 10px;
    font-weight: bolder;
  }
}

.entitled-section {
  border-top: 3px solid var(--ion-color-warning);
}

.photo-placeholder {
  font-size: 200px;
  width: 100%;
}

.filter-link {
  cursor: pointer;
  text-decoration: underline;
  font-size: 18px;
  font-weight: bolder;
}

// END OTHER SECTION
