@import "flex";
@import "fonts";
@import "overrides";
@import "spacing";
@import "variables";

// UTILITY SECTION

.border-medium {
  border: 1px solid var(--ion-color-medium);
}

.border-radius {
  border-radius: 9px;
}

.height100 {
  height: 100%;
}

// END UTILITY SECTION

// OTHER SECTION

.loading-image {
  margin: 50% auto auto auto;
}

.profile-bubble {
  height: 80px;
  width: 80px;
  border-radius: 50px;
  background-color: var(--ion-color-primary);
  margin: auto;
  display: flex;
  > ion-icon {
    margin: auto;
    font-size: 70px;
  }
}

.edit-icon {
  cursor: pointer;
  position: absolute;
  right: 12px;
}

.teacher-name {
  margin: auto 0 auto 16px;
}

.time-bubble {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--ion-color-primary);
  position: relative;
  z-index: 1;
  &:before {
    content: '';
    height: 78px;
    border-left: 2px solid var(--ion-color-primary);
    position: absolute;
    bottom: 100px;
    left: 48px;
    z-index: 0;
  }
  &:after {
    content: '';
    height: 78px;
    border-left: 2px solid var(--ion-color-primary);
    position: absolute;
    top: 100px;
    left: 48px;
    z-index: 0;
  }
}

// END OTHER SECTION
