.sc-ion-card-ios-h {
  margin-top: 12px;
  margin-bottom: 12px;
}

.delete-dance-class-warning .alert-wrapper {
  background: var(--ion-color-primary);
  .alert-title, .alert-message {
    color: var(--ion-color-primary-contrast);
  }
}

ion-content {
  --background: linear-gradient(180deg, #1f7582, #414d79, #63497b);
}

ion-menu {
  --background: linear-gradient(180deg, #1f7582, #414d79, #63497b);
}

ion-item {
  --background: transparent;
}

ion-list {
  background: inherit !important;
}

ion-card {
  --background: transparent;
  border-radius: 0;
  box-shadow: rgba(255, 255, 255, 0.16) 0 12px 56px;
  margin: 8px 0;
}

ion-segment-button {
  --indicator-color: var(--ion-color-primary);
}

ion-card-content {
  padding: 16px !important;
}

ion-toast {
  --background: var(--ion-color-tertiary);
}

ion-toolbar {
  --border-width: 0px !important;
}

ion-fab-button {
  --background: var(--ion-color-primary);
  --background-activated: var(--ion-color-primary);
  width: 30px;
  height: 30px;
  ion-icon {
    font-size: 14px;
  }
}

ion-fab-list {
  margin: 0;
  left: -13px;
  top: 34px;
}

ion-refresher {
  background: linear-gradient(180deg, #1f7582, #63497b);
  padding-top: 30px;
  padding-bottom: 200px;
}

.header-image {
  max-height: 40px;
}

p {
  line-height: 1.75;
}
